body {
  width: 98vw;
  height: 98vh;
  background: rgb(165, 106, 224);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bookmark-list {
  margin-top: 3rem;
  display: grid;
  grid-gap: 40px 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr))
}

.loading {
  text-align: center;
  font-size: 4rem;
  color:white;
}